@import "./custom.scss";
@import "./font.scss";
@import "./media.scss";
.cartSection {
  background-color: #f5f5f5;
  .container-padding {
    padding-top: 26px;
    padding-left: 5rem;
    padding-right: 5rem;
    @include media4 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    .verticalScroll {
      height: 550px;
      overflow-y: auto;

      .book-container {
        padding-top: 34px;
        padding-left: 48px;
        padding-right: 48px;
        border: 1px solid #dddddd;
        padding-bottom: 22px;
        @include media4 {
          padding-left: 30px;
          padding-right: 30px;
        }
        @include iphonex {
          padding-left: 10px;
          padding-right: 10px;
        }
        .card-title {
          @include media2 {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
