@import "./custom.scss";
@import "./font.scss";
@import "./media.scss";
.recent-book {
  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    color: $black;
    margin: 60px 0;
    @include media3 {
      margin: 45px 0;
      font-size: 50px;
    }
  }
  .content_card {
    display: flex;
    justify-content: center;
    .card {
      background: $white;
      border: 1px solid $grey;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      width: 311px;
      height: 389px;
      margin-left: 15px;
      @include card {
        width: 290px;
      }
      @include media1 {
        margin: auto !important;
        width: 311px;
      }
      .image_frame {
        // width: 311px;
        height: 224px;
      }
      .card-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #111031;
      }
      .author {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #73729b;
      }
      .available {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #38367e;
      }
      .card-text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        h5 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          margin-left: 15px;
        }
        h5:nth-child(1) {
          margin-left: 0;
        }
      }
    }
    .card:nth-child(1) {
      margin-left: 0;
    }
  }
}
