@import "./custom.scss";
@import "./font.scss";
@import "./media.scss";
.header {
  height: 85vh;
  div {
    padding-top: 7.5rem;
  }
  .header-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: $white;
    @include media1 {
      font-size: 55px;
    }
    @include header-title {
      font-size: 39px;
    }
  }
  .header-btn {
    width: 240px;
    height: 65px;
    background: #453e95;
    border-radius: 10px;
    * {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 40px;
      color: $white;
      text-decoration: none;
    }
  }
}
