@mixin media1 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin header-title {
  @media (max-width: 529px) {
    @content;
  }
}
@mixin media4 {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin card {
  @media (max-width: 1300px) {
    @content;
  }
}
@mixin media2 {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin media3 {
  @media (max-width: 768px) {
    @content;
  }
}
